NSRDB_API_KEY=YOUR_API_KEY_HERE
NSRDB_EMAIL=YOUR_EMAIL_HERE
POSTGRES_DB=vayugrid
POSTGRES_USER=vayugrid
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
REDIS_PORT=6379
RABBITMQ_DEFAULT_USER=vayugrid
RABBITMQ_DEFAULT_PASS=change-me
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_PROMETHEUS_PORT=15692
MLFLOW_PORT=5000
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me
